RewriteEngine on
Options +FollowSymlinks
#RewriteBase /
RewriteRule ^(.+)\.html$ $1.php

#RewriteRule ^index_([0-9]*).html index.php?id=$1
#RewriteRule ^node/([0-9]*)/page/([0-9]*) index.php?id=$1&page=$2

#RewriteRule ^(.+)\.html$ $1.php
#RewriteRule ^index-([0-9]+).html$ index.php?id=$1
#RewriteRule ^(([^/]+/)*[^.]+)$ /$1.php [L]
#RewriteRule ^index/([a-zA-Z0-9_-]+)/([0-9]+).html$ index.php?id=$2
#RewriteRule ^index/([0-9]*)/([0-9]*)/([a-zA-Z0-9_-]+) index.php?article=$1&page=$2 ​